/*Header */

header {
  border: 2 px solid red;
}

/* .comment-card {
  border: 2px solid red;
  margin: 10px;
  background: wheat;
  border-radius: 25px;
}

.comment-card-details {
  list-style: none;
  padding-left: 0;
  margin-left: 15px;
} */

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border: 2px solid red;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px;
}

.user-card-details {
  list-style: none;
  text-align: center;
}

.user-image {
  margin: auto;
  height: 150px;
}

.single-user-img {
  margin: auto;
  height: 150px;
}

/* HTML: <div class="loader"></div>
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
} */
