.article-card {
  display: flex;
  border: 2px solid red;
  margin: 10px;
  background: wheat;
  border-radius: 25px;
}

.article-img {
  height: 200px;
  width: 200px;
  margin: auto 25px;
}

.article-card-details {
  list-style: none;
  padding-left: 0;
  margin-left: 15px;
  border: 2px solid pink;
}

.article-card-details > li {
  border: 2px solid green;
  padding: none;
  margin: none;
}

.comment-card {
  border: 2px solid red;
  margin: 10px;
  background: wheat;
  border-radius: 25px;
}

.comment-card-details {
  list-style: none;
  padding-left: 0;
  margin-left: 15px;
}
